<template>
    <div>
        <div>
            <div class="box-header with-border">
                <h3 class="box-title fnt-600">Personal Information</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="name_in_full">Name in Full</label>
                            <input type="text" class="custom-form-control"
                                   id="name_in_full" v-model="personal_form.name_in_full"
                                   placeholder="Enter Name in Full">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="name_in_full">Phone Number</label>
                            <div class="input-group">
                                <input type="text" class="custom-form-control" id="phone_number"
                                       v-model="personal_form.phone_number">
                                <span class="input-group-addon"><i class="material-icons icon"
                                                                   style="font-size: 12px">
                                                    add
                                                </i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="secondary_mail">Secondary Email</label>
                            <input type="email" class="custom-form-control" id="secondary_mail"
                                   v-model="personal_form.secondary_mail"
                                   placeholder="Enter Secondary Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="date_of_birth">Date of Birth</label>
                            <input type="date" class="custom-form-control"
                                   id="date_of_birth" v-model="personal_form.date_of_birth"
                                   placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label>Nationality</label>
                            <select class="custom-form-control" id="nationality"
                                    v-model="personal_form.nationality">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label>Gender</label>
                            <select class="custom-form-control" id="gender"
                                    v-model="personal_form.gender">
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label>Marital Status</label>
                            <select class="custom-form-control" id="marital_status"
                                    v-model="personal_form.marital_status">
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="nic_number">NIC Number</label>
                            <input type="text" class="custom-form-control"
                                   id="nic_number" v-model="personal_form.nic_number"
                                   placeholder="Enter NIC Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="city">City</label>
                            <input type="text" class="custom-form-control"
                                   id="city" v-model="personal_form.city"
                                   placeholder="Enter City">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label>Country</label>
                            <select class="custom-form-control" id="country"
                                    v-model="personal_form.country">
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="province">Province/State</label>
                            <input type="email" class="custom-form-control"
                                   id="province" placeholder="Enter Province/State">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="postal_code">Postal code/Zip Code</label>
                            <input type="email" class="custom-form-control"
                                   id="postal_code" placeholder="Enter Postal code/Zip Code">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-form-group">
                            <label for="biography">Biography:</label>
                            <textarea class="form-control" rows="3" cols="5"
                                      id="biography"
                                      v-model="personal_form.biography"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div>
            <div class="box-header with-border">
                <h3 class="box-title fnt-600">Contact in Emergency</h3><!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-success btn-sm"
                            data-widget="remove" data-toggle="tooltip" title=""
                            data-original-title="Remove">
                        <i class="fa fa-plus"></i></button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-form-group">
                            <label for="guardian_name">Contact Name</label>
                            <input type="text" class="custom-form-control"
                                   id="guardian_name" placeholder="Enter Full Name">
                        </div>
                        <div class="custom-form-group">
                            <label for="guardian_phone_no">Phone Number</label>
                            <input type="number" class="custom-form-control"
                                   id="guardian_phone_no" placeholder="Enter Phone Number">
                        </div>
                        <div class="custom-form-group">
                            <label for="guardian_address">Address</label>
                            <input type="email" class="custom-form-control"
                                   id="guardian_address" placeholder="Enter Address">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                personal_form: {
                    name_in_full: '',
                    phone_number: [],
                    secondary_email: '',
                    date_of_birth: '',
                    nationality: 0,
                    gender: 0,
                    marital_status: 0,
                    nic_number: '',
                    city: '',
                    country: 0,
                    postal_code: 0,
                    province: 0,
                    biography: '',

                }
            }
        },
        methods:{

        }
    }
</script>