<template>
    <div>
        <div class="box-header with-border">
            <h3 class="box-title fnt-600">Common Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="custom-form-control" id="first_name"
                               v-model="form_data.first_name"
                               placeholder="Enter First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="middle_name">Middle Name</label>
                        <input type="text" class="custom-form-control" id="middle_name"
                               v-model="form_data.middle_name"
                               placeholder="Enter >Middle Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="custom-form-control" id="last_name"
                               v-model="form_data.last_name"
                               placeholder="Last Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="employee_id">Employee ID</label>
                        <input type="text" class="custom-form-control" id="employee_id"
                               v-model="form_data.employee_id"
                               placeholder="123456">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="email_address">Email address</label>
                        <input type="email" class="custom-form-control" id="email_address"
                               v-model="form_data.email_address"
                               placeholder="Enter email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Employee Type</label>
                        <select class="custom-form-control" id="employee_type"
                                v-model="form_data.employee_type">
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                            <option value="3">option 3</option>
                            <option value="4">option 4</option>
                            <option value="5">option 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Employee Status</label>
                        <select class="custom-form-control" id="employee_status"
                                v-model="form_data.employee_status">
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                            <option value="3">option 3</option>
                            <option value="4">option 4</option>
                            <option value="5">option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="date_of_hire">Date of Hire</label>
                        <input type="date" class="custom-form-control" id="date_of_hire"
                               v-model="form_data.date_of_hire"
                               placeholder="Enter email">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                form_data: {
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    employee_id: '',
                    email_address: '',
                    employee_type: '',
                    employee_status: 0,
                    date_of_hire: '',
                    send_welcome_email: false,
                    send_login_details: false,
                },
            }
        },
        methods:{

        }
    }
</script>