<template>
    <div>
        <div class="box-header with-border">
            <h3 class="box-title fnt-600">Work</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Department</label>
                        <select class="custom-form-control" id="department"
                                v-model="work_form.department">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Job Title</label>
                        <select class="custom-form-control" id="job_title"
                                v-model="work_form.job_title">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Location</label>
                        <select class="custom-form-control" id="location"
                                v-model="work_form.location">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Reporting To</label>
                        <select class="custom-form-control" id="reporting_to"
                                v-model="work_form.reporting_to">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label>Source of Hire</label>
                        <select class="custom-form-control" id="source_of_hire"
                                v-model="work_form.source_of_hire">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-group">
                        <label for="pay_rate">Pay Rate</label>
                        <input type="text" step="0.01" class="custom-form-control"
                               id="pay_rate" v-model="work_form.pay_rate"
                               placeholder="Enter Pay Rate">
                    </div>
                </div>
            </div>
        </div>

        <!-- /.box-body -->
    </div>
</template>
<script>
    export default {
        data(){
            return{
                work_form: {
                    department: 0,
                    job_title: 0,
                    location: 0,
                    reporting_to: 0,
                    source_of_hire: 0,
                    pay_rate: 0,
                },
            }
        },
        methods:{

        }
    }
</script>