.custom-form-group {
    margin-bottom: 6px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
}

.custom-form-control {
    display: block;
    width: 100%;
    height: 29px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.icon {
    vertical-align: sub;
    margin: 0 5px;
    font-size: 16px !important;
}

.fonts1 {
    font: url(https://fonts.googleapis.com/css?family=Nunito:200,600);
}

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    /* font-family:'Roboto, Helvetica, Arial, sans-serif'; */
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

/*.content {
    text-align: center;
}*/

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

/* HEADER NAV STYLE */
.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

/* start common styles */
.btn-def {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.cp{
    cursor: pointer;
}
.img-def {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-ok {
    background: #00b9f5;
    color: #fff;
}

.btn-see-more1 {
    background: linear-gradient(to right, rgba(191, 85, 236, 1), rgba(0, 181, 204, 1), rgba(191, 85, 236, 1));
    color: #fff !important;
}

.pad_0 {
    padding: 0 !important;
}

.pad_5 {
    padding: 5px !important;
}
.pad_10 {
    padding: 10px !important;
}
.pad_15 {
    padding: 15px !important;
}

.pad_right0 {
    padding-right: 0 !important;
}

.pad_left0 {
    padding-left: 0 !important;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.no-leftpad {
    padding-left: 0 !important;
}
.no-ritpad {
    padding-right: 0 !important;
}
.auto-margin {
    margin: auto;
}

.margin_15 {
    margin: 15px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-right5{
    margin-right: 5px;
}

.margin-bt3 {
    margin-bottom: 3%;
}

.margin-bt5 {
    margin-bottom: 5%;
}

.margin-bot10 {
    margin-bottom: 10px !important;
}
.margin-bot15 {
    margin-bottom: 15px !important;
}

.margin-lfrt {
    margin: 0 15%;
}
.margin-top20 {
    margin-top: 20px;
}
.no-margin {
    margin: 0;
}

.no-bot-margin {
    margin-bottom: 0 !important;
}

.back-black {
    background: #000 !important;
}

.back-white {
    background: #fff !important;
}

.back-pink {
    background: #ff0053 !important;
}

.background-blue {
    background: #080535 !important;
}
.back-green{
    background: green !important;
}
.back-red{
    background: red !important;
}
.back-gray{
    background: #ddd !important;
}
.footer-gray {
    background: rgb(73, 84, 98);
    padding: 10px;
}

.auto-height {
    height: auto;
}

.zoom {
    transition: transform .9s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.fnt-600 {
    font-weight: 600
}

.fnt-700 {
    font-weight: 700
}

.fnt-12 {
    font-size: 12px;
}
.fnt-13 {
    font-size: 13px !important;
}
.fnt-16 {
    font-size: 16px;
}
.fnt-20 {
    font-size: 20px;
}
.fnt-30 {
    font-size: 30px;
}

.no-outline {
    outline: none !important;
}
.form-error{
    color: red;
    font-size: 14px;
    background: #ffc7c7;
    float: left;
}
.error{
    color: red;
    font-weight: 600;
    font-size: 13px;
}

.clr-dark-blue {
    color: rgb(8, 5, 53) !important;
}

.clr-light-blue {
    color: #428BCA !important;
}

.clr-black {
    color: #000 !important;
}

.clr-white {
    color: #ffffff !important;
}

.clr-red {
    color: red !important;
}

.clr-green {
    color: green !important;
}

.clr-pink {
    color: #f61843 !important;
}
.clr-star{
    color: #ffc600 !important;
}
.btn-nxt {
    color: #fff !important;
    background-color: rgba(246, 36, 89, 1);
    border-color: rgba(246, 36, 89, 1);
}

.btn-see-more {
    bottom: 51px;
    position: absolute;
    top: 95%;
    left: 15%;
    width: 75%;
    height: 50%;
    background: linear-gradient(to right, rgba(191, 85, 236, 1), rgba(0, 181, 204, 1), rgba(191, 85, 236, 1));
    color: #fff;
}
.btn-booking{
    color: white;
    padding: 20px 75px;
}
.btn-ok:hover {
    opacity: 0.7;
}
.show-inline{
    display: inline-flex;
    width: 100%;
    margin: auto;
}
.width_75{
    width: 75%;
}
.width_25{
    width: 25%;
}

.width_12 {
    width: 12%;
}
.user-avater {
    width: 80px;
    height: 80px;
}
hr {
    border-top: 1px solid #ccc !important;
}

/* end common styles */

